<br />

<div ng-controller="ProjectCtrl">
	<!-- list view header -->
	<div  ng-show="viewMode=='List'" class="row">
		<!-- search form -->
		<div class="col-md-12"> 
			<form role="form" ng-submit="performSearch()">
				<div class="input-group">
					<input type="text" class="form-control" required placeholder="Search" ng-model="searchKey">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Search</button>
						<button class="btn btn-default" type="reset" ng-click="clearSearch()">Clear</button>
					</span>
				</div>
			</form>
		</div>
	</div>
	
	<div ng-show="viewMode=='Add' || viewMode=='Edit'" class="bs-callout bs-callout-default">
		<h4 ng-show="viewMode=='Add'">Add new project</h4>
		<h4 ng-show="viewMode=='Edit'">Edit project</h4>						
	</div>

	<br />
	
	<alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
	
	<!-- List view -->
	<div ng-show="viewMode=='List'">
		
		<!-- Add New view -->
		<div class="row">
			<div class="col-md-12">
				<span class="pull-right label label-primary"> 
					<span class="glyphicon glyphicon-plus" ng-click="addNew()"></span>
				</span>
			</div>
		</div>
		
		<br />
		
		<!-- List view -->
		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="project in viewModel.results">
			<b>{{project.Name}}</b> : {{project.Description}}
			<span class="pull-right">
				<span class="glyphicon glyphicon-edit" ng-click="editObject(project)"></span>
				<span class="glyphicon glyphicon-trash" ng-click="deleteObject(project)"></span>
			</span>
			<span class="badge">{{userMap[project.UserId]}}</span>
	
		  </li>
		</ul>		
		
		<!-- list info -->
		<div class="row" ng-show="viewModel.results.length">
			<!-- total record info -->
			<div class="col-md-3">
				<span class="pull-left label label-primary">Totol projects 
					<span class="badge">{{viewModel.totalItems}}</span>
				</span>
			</div>
			<!-- pagination -->
			<div class="col-md-9" ng-show="viewModel.paginate">
				<pagination boundary-links="true" total-items="viewModel.totalItems" page="viewModel.currentPage" items-per-page ="viewModel.itemsPerPage" class="pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" on-select-page="showPage(page)"></pagination>
			</div>
		</div>
	</div>
	
	<!-- Add / edit view -->
	<div ng-show="viewMode=='Add' || viewMode=='Edit'">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-2 control-label">Name</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" required ng-model="editedObject.Name"></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Description</label>
				<div class="col-sm-6">
				<textarea class="form-control" required ng-model="editedObject.Description"></textarea></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">User</label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="editedObject.UserId">
						<option ng-repeat="user in userSelector" ng-selected="{{user.Id == editedObject.UserId}}" value="{{user.Id}}">{{user.Name}}</option>
					</select>
				</div>
			</div>
			<!-- Form buttons -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-6">
					<button ng-show="viewMode=='Add'" class="btn btn-primary" type="submit" ng-click="createObject()">Save</button>
					<button ng-show="viewMode=='Edit'" class="btn btn-primary" type="submit" ng-click="updateObject()">Update</button>
					<button class="btn btn-default" type="reset" ng-click="cancelEditing()">Cancel</button>
				</div>
			</div>				 
		</form>
	</div>
</div>